/* Hem-hemsida*/
#wrapper {
    display:grid;
    height: auto;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 7% auto auto auto 20vh;
    grid-template-areas:
    'nv nv nv nv'
    'sc1 sc1 sc1 sc1'
    'sc2 sc2 sc2 sc2'
    'sc3 sc3 sc3 sc3'
    'sc4 sc4 sc4 sc4'
    'ft ft ft ft';
    }

nav {
    grid-area: nv;
    display: flex;
    /*flex-wrap: wrap;*/
    background-color:white;
    top: 0px;
    position: sticky;
    justify-content: center;
    align-items: center;´
    z-index: 2;
}
nav div p{
    color: #ffffff;
}

.logga{
    width: auto;
    height: auto;
    position: fixed;
}
.logga img{
    height: 40px;
    width: 40px;
    justify-content: center;
}

section1 {
    grid-area: sc1;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 100%;
}
section1 div{
    padding-top: 0%;
    margin: 0%;
    

}
section2 {
    grid-area: sc2;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 100%;
}
section3 {
    grid-area: sc3;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 100%;
}
section4 {
    grid-area: sc4;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 100%;
}
footer{
    grid-area: ft;
    background:linear-gradient(to right, #141E30, #243B55);
    bottom:0;
    width: 100%;
    color: #fff;
    padding: 100px 0px 30px;
    border-radius: 20px 20px 0px 0px;
    line-height: 20px;
}
.rad{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.kolumn{
    flex-basis: 25%;
    padding: 10px;
}
.kolumn h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.mail{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color:#ffffff;
}
.logga-footer{
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
form input{
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;

}
#logga-footer img{
    height: 40px;
    width: 40px;
}

section1 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    margin: 0px;
    padding: 0px;

}

body ul div{
    margin: 100px;
    text-decoration: none;
}

ul {
    list-style-type: none; /* Tar bort punkterna från listan */
    padding-left: 0; /* Tar bort eventuell padding till vänster */
}

.menu{
    height: 100vh;
    width: 60vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.menu div ul{
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    position: fixed;
    left: 0;
    top: 0;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


a {
    text-decoration: none; /* Tar bort understrykning på alla länkar */
}

.list-meny{
    font-size: 50px;
    color: black;
    margin: 25px;

}

.knapp {
    height: 10vh;
    width: 25vw;
    background:linear-gradient(to right, #141E30, #243B55);
    margin-inline: 5vw;
    border-radius: 20px;
}
.knapp p{
    text-decoration: none;
    justify-content: start;
    color: black;
}
.knapp :hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

