/* Hem-hemsida*/
#wrapper {
    display:grid;
    height: auto;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    font-family: "Outfit";
    grid-template-areas:
    'nv nv nv nv'
    'sw sw sw sw'
    'sc1 sc1 sc1 sc1'
    'sc2 sc2 sc2 sc2'
    'sc3 sc3 sc3 sc3'
    'wm wm wm wm'
    'ft ft ft ft';
    }

a {
     text-decoration: none; /* Tar bort understrykning på alla länkar */
}

body {
    margin: 0px;
    padding: 0px;

}

body ul div{
    margin: 100px;
    text-decoration: none;
}

ul {
    list-style-type: none; /* Tar bort punkterna från listan */
    padding-left: 0; /* Tar bort eventuell padding till vänster */
}
    
nav {
    height: 10vh;
    grid-area: nv;
    display: flex;
    background-color: #fff;
    top: 0px;
    position: sticky;
    justify-content: center;
    align-items: center;
    /*z-index: 2;*/
    border-bottom: 1px solid #141E30;
}
nav div p{
    color: #ffffff;
}

.logga{
    width: auto;
    height: auto;
    position: fixed;
}
.logga img{
    height: 40px;
    width: 40px;
    justify-content: center;
}

.watermark{
    grid-area: wm;
    display: flex;
    justify-content: center;
    margin: 0px 45vw 10vh 45vw;
    border-bottom: 1px dotted #141E30;
}

/*swiper*/
swiper{
    height: 60vh;
    width: 98.72vw;
}

.swiper-container {
    width: 100%;
    height: 60vh;
    overflow: hidden; /* Förhindrar att innehållet går utanför */
    position: relative;
    z-index: -1000;
}

/* Om man vill justera bilderna inom Swiper */
.swiper-slide img {
    width: 100%; /* Gör att bilderna sträcker sig över hela bredden */
    height: auto;
    z-index: -1000;
    object-fit: cover;
}

section1 {
    grid-area: sc1;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 100%;
    margin-bottom: 5vh;
}
section1 p{
    margin-left: 1vw;
    margin-right: 1vw;
}

section1 div{
    padding-top: 0%;
    margin: 0%;
}
section1 div a :hover{
    transform: scale(1.05);
    transition: all 0.1s ease;
    filter: brightness(0.8);
}

section1 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

section2 {
    grid-area: sc2;
    display: flex;
    background-color: white;
    height: auto;
    width: auto;
    margin-bottom: 10vh;
    justify-content: right;
    align-items: center;
}
section2 p{
    margin-left: 1vw;
    margin-right: 1vw;
}
section2 h2{
    margin-left: 1vw;
    margin-right: 1vw;
}

section3 {
    grid-area: sc3;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: auto;
    margin-bottom: 10vh;
}
section3 h2{
    margin-left: 1vw;
    margin-right: 1vw;
}
section3 p{
    margin-left: 1vw;
    margin-right: 1vw;
}
section4 {
    grid-area: sc4;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: auto;
    margin-bottom: 10%;
}
/*Section 4 finns inte just nu */
section4 p{
    margin-left: 1vw;
    margin-right: 1vw;
}
section4 h2{
    margin-left: 1vw;
    margin-right: 1vw;
}
/*footer*/
footer{
    grid-area: ft;
    background:linear-gradient(to right, #141E30, #243B55);
    bottom:0;
    width: 100%;
    color: #fff;
    padding: 100px 0px 30px;
    border-radius: 20px 20px 0px 0px;
    line-height: 20px;
}
.rad{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.kolumn{
    flex-basis: 25%;
    padding: 10px;
}
.kolumn h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.mail{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color:#ffffff;
}
.logga-footer{
    height: auto;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
form input{
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;

}
#logga-footer img{
    height: 40px;
    width: 40px;
}

/*meny*/
.menu{
    height: 100vh;
    width: 60vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10000;
}
.menu div ul{
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    position: fixed;
    left: 8px;
    top: 8px;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 9999;
}

.fade-layer.visible{
    display: block;
}

.list-meny{
    font-size: 50px;
    color: black;
    margin: 25px;

}
/*Navigation knappar i section1 */
.knapp {
    height: 10vh;
    width: 25vw;
    background:linear-gradient(to right, #141E30, #243B55);
    margin-inline: 5vw;
    border-radius: 20px;
}
.knapp p{
    text-decoration: none;
    justify-content: start;
    color: #fff;
}

/*Sustainability-sida*/
#wrapper_sustainability {
    display: grid;
    height: auto;
    font-family: Outfit;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    'nv nv nv nv'
    'su su su su'
    'su2 su2 su2 su2'
    'wm wm wm wm'
    'ft ft ft ft';
}

.sustainability{
    display: flex;
    justify-content: flex-end;
    grid-area: su;
    height: auto;
    background:linear-gradient(to right, #141E30, #243B55);
    border-bottom: 1px solid #141E30;
}

#sustainability_text_1{
    height: auto;
    width: 50vw;
    margin: 15vh 100px 10px 75px;
    padding-bottom: 1px;
    color: #fff;
}

#saxmo {
    height: 70vh;
    width: 50vw;
    object-fit: cover;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 230px;
}

#sustainability_text_2{
    grid-area: su2;
    display: flex;
    justify-content: start;
    margin: 10vh 75px 100px 75px;
    border-bottom: 1px solid #141E30;
}
#sustainability_text_2_1{
    width: 50vw;
    margin-left: 10vw;
}

span.material-symbols-outlined{
    font-size: 2.5rem;
}

#sustainability_text_2 ul li{
    display: flex;
    justify-content: start;
    align-items: center;

}




/*FAQ-sida*/
#wrapper_FAQ {
    display:grid;
    height: auto;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    font-family: "Outfit";
    grid-template-areas:
    'nv nv nv nv'
    'ba ba ba ba'
    'is is is is'
    'in in in in'
    'wm wm wm wm'
    'ft ft ft ft';
    }

    banner{
        grid-area: ba;
        display: flex;
        height: 50vh;
        width: 98.72vw;
        margin: 0px;
        padding: 0px;
        background:linear-gradient(to right, #141E30, #243B55);
        border-bottom: 1px solid #141E30;
    }
    banner h1{
        margin: 100px 50px 0px 50px;
        color: #fff;
    }
    banner p{
        margin: 100px 0px 0px 0px;
    }

    .index4_summary{
        grid-area: is;
        margin: 6vh 4vw 2vh 4vw;
        padding-bottom: 6vh;
        border-bottom: 1px solid #141E30;
    }       



    #Img_FAQ img{
        width: 60vw;
        height: 50vh;
        object-fit: cover;
        border-radius: 0px 0px 0px 250px;
    }

    #ind4{
        grid-area: in;
        display: flex;
        margin: 0px 0px 5vh 0px;
        padding: 7vh 0px 5vh 0px;
    }

    #ind4text{
        width: 50vw;
    }
    #ind4text h2{
        margin-left: 50px;
    }

    #contact{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(to right, #141E30, #243B55);
        border-radius: 25px;
        padding: 35px;
        margin: 4vh 25px 4vh 25px;
        height: 38.5vh;
        color: #fff;
    }
    #contact li{
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 3vh 0px 3vh 0px;
    }
    #contact img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 100%;
        margin: 1rem;
    }

    #knappar_FAQ{
        height: auto;
        width: 500px;
    }
    #knappar_FAQ h2{
        margin-bottom: 25px;
    }

  #knappar_FAQ details {
    /*border: 1px solid #ddd;*/
    border-radius: 15px;
    padding: 15px;
    margin: 5px 15px 10px 0px;
    background:linear-gradient(to right, #141E30, #243B55);
    width: 45vw;
    height: auto;
  }
  #knappar_FAQ details summary {
    color: #fff;
  }
  #knappar_FAQ details p{
    color: #fff;
  }

  #knappar_FAQ summary {
    font-weight: bold;
    cursor: pointer;
  }

  #knappar_FAQ summary::marker {
    content: "➕ ";
  }

  #knappar_FAQ details[open] summary::marker {
    content: "➖ ";
  }

  /* Products*/
  #wrapper_products {
    display:grid;
    height: auto;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    font-family: "Outfit";
    grid-template-areas:
    'nv nv nv nv'
    'sw sw sw sw'
    'tt tt tt tt'
    'mn mn mn mn'
    'wm wm wm wm'
    'ft ft ft ft';
    }
    #top_text{
        grid-area: tt;
        margin: 10vh 5vw 0px 5vw;
        border-bottom: 1px solid #141E30;

    }
    .main_products{
        grid-area: mn;
        height: auto;
        margin: 10vh 10px 10vh 10px;
    }
    .main_products details{
        height: auto;
        width: 95vw;
        display: block;
        justify-content: start;
        border-radius: 15px;
        padding: 15px;
        margin: 5px 15px 10px 0px;
        background:linear-gradient(to right, #141E30, #243B55);
    }
    .main_products details summary {
        color: #fff;
    }
    .main_products details p{
        color: #fff;
    }

    .main_products summary {
        font-weight: bold;
        cursor: pointer;
        display: flex;
    }
        
        .main_products summary img{
            height: 40vh;
            width: 50vw;
            object-fit: cover;
            margin: 0px;
            border-radius: 15px;
        }

        .main_products span{
            margin-top: 1vh;
        }
        .main_products article{
            display: flex;
            border-top: 1px solid #fff;
            margin-top: 25px;
            color: #fff;
        }
        #contact_products{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 35px;
            margin: 5px;
            height: auto;
            width: auto;
            color: #fff;
            border-left: 1px solid #fff;
        }
        #contact_products li{
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 5px;
        }
        .main_products article div{
            margin-right: 10vw;

        }
